__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
*.exe
*.zip
*.pdf
*.jpg
*.png
*.csv
*.xlsx
*.pptx
*.mp3
*.mp4
*.mov
.ipynb_checkpoints/
Telegram Desktop/
OracleXE213_Win64/
archive/
testandtrain/
jjjjjj*
*.lnk
*.tmp
*.drawio
*.msi
